@media (max-width: 1024px) {
	.hero__wrap {
		flex-direction: column-reverse;
    align-items: center;
    text-align: center;
	}
	.hero__button {
		margin: 0 auto;
	}
	.features__wrap {
    flex-direction: column;
    align-items: center;
	}
	.features__content {
		display: flex;
    flex-direction: column;
    align-items: center;
	}
}